<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoSys1D"
        tools:targetApi="31">
        <activity
            android:name=".Review"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".AccountPage"
            android:exported="false" />
        <activity
            android:name=".viewItem"
            android:exported="false" />
        <activity
            android:name=".dealsPage"
            android:exported="false" />
        <activity
            android:name=".UsersLikes"
            android:exported="false" />
        <activity
            android:name=".Chatlist"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".newUser2"
            android:exported="false" />
        <activity
            android:name=".newUser"
            android:exported="false" />
        <activity
            android:name=".main"
            android:exported="true" />
        <activity
            android:name=".editlisting"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".marketPlaceActivity"
            android:exported="true" />
        <activity
            android:name=".searchListing"
            android:exported="false" />
        <activity
            android:name=".loginVerification"
            android:exported="true">

            <!-- Declare Intent Filter -->
            <!-- Handles Deeplink -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="group46verification.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>